ul.tags {
    display: flex;
    margin-block-start: none;
    flex-wrap: wrap;
}
ul.tags > li {
    flex-basis: auto;
    list-style-type: "#";
    list-style-position: inside;
    padding-right: 4px;
}
